





<h1 align="center"><% @question.id%> <%= @question.content%></h1>
<h4 align="center">Choose wisely or you will be directed back to the home page and lose all your money!</h4>

<div style="float:left;"><h1 class="animated bounceInRight"><%= link_to @choices[0].content, "/check/#{@choices[0].id}" %></h1></div>
<div style="float:right;"><h1 class="animated bounceInLeft"><%= link_to @choices[1].content, "/check/#{@choices[1].id}" %></h1></div>
<br>
<br>
<br>
<br>
<br>
<div style="float:left;"><h1 class="animated bounceInRight"><%= link_to @choices[2].content, "/check/#{@choices[2].id}" %></h1></div>
<div style="float:right"><h1 class="animated bounceInLeft"><%= link_to @choices[3].content, "/check/#{@choices[3].id}" %></h1></button></div>
  
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="clock">
<img src="http://www.clipartbest.com/cliparts/dT7/e4K/dT7e4KjT9.gif" alt="..." align="left" style="widows: 200px;px;height:200px;"> </div>
<br>
<br>
<br>
<br>
<br>
<font color ="brown"   ><h2 class="animated bounceInUp" id="prize" align="center"><%= @score %></h2></font>


  










