<h2><%= @question.id%>). <%= @question.content%></h2>
<h3><%= link_to @choices[0].content, "/check/#{@choices[0].id}" %></h3>
<h3><%= link_to @choices[1].content, "/check/#{@choices[1].id}" %></h3>
<h3><%= link_to @choices[2].content, "/check/#{@choices[2].id}" %></h3>
<h3><%= link_to @choices[3].content, "/check/#{@choices[3].id}" %></h3>